.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
  align-content: center;
}

.episode-grid {
  display: grid;
  flex-direction: column;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: auto;
}

.episode-background {
  background-color: rgba(221, 160, 221, 0.3);
  padding: 2rem;

  border-radius: 0.5rem;
}

.title {
  padding-bottom: 1rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5rem;
}

@media (max-width: 576px) {
  .container {
    width: 28rem;
  }

  .container section {
    grid-template-columns: 1fr;
  }

  .episode-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
