.episode-box {
  display: grid;
  text-align: center;

  max-width: 12rem;
}

.episode-box img {
  max-width: 12rem;
}

.episode-box span {
  font-size: 0.75rem;
  padding-top: 0.5rem;
}

@media (max-width: 576px) {
  .episode-box {
    max-width: 9.5rem;
  }

  .episode-box img {
    max-width: 9.5rem;
  }
}
